<div id="aem-pwa-blog__createPost">

	<section id="create-post" style="display:none;">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <video id="player" autoplay width="100%"></video>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <canvas id="canvas" width="320px" height="240px"></canvas>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
		<div class="row">
            <div class="col-sm-4"></div>
            <button class="btn btn-primary col-sm-4 col-form-label" id="capture-btn">
                Capture
            </button>
            <div class="col-sm-4"></div>
        </div>
        <br>
		<div class="row" id="pick-image">
            <div class="col-sm-3"></div>
                <label class="col-sm-3 col-form-label">Pick an Image instead</label>
                <input class="col-sm-3 type="file" accept="image/*" id="image-picker">
            <div class="col-sm-3"></div>
		</div>
		<br>
		<form id="formPost" path="${currentPage.path}/jcr:content.create.html" action="" method="">
            <div class="row">
                <div class="col-sm-3"></div>
                    <label class="col-sm-2 col-form-label" for="title" name="title">Title</label>
                    <input class="col-sm-4" type="text" id="title">
		        <div class="col-sm-3"></div>
		    </div>
		    <br>
		    <div class="row" id="manual-location">
                <div class="col-sm-3"></div>
                <label class="col-sm-2 col-form-label" for="location" name="location">Location</label>
                <input class="col-sm-4" type="text" id="location">
                <div class="col-sm-3"></div>
            </div>
            <br>
            <div class="row input-section">
                <div class="col-sm-4"></div>
				<button class="btn btn-secondary col-sm-4 col-form-label" id="location-btn">
				    <span id="confirmation-toast">Get Location</span>
				</button>
                <div class="mdl-spinner mdl-js-spinner is-active col-sm-2" id="location-loader"></div>
                <div class="col-sm-4"></div>
            </div>
            <br>
			<div class="row">
                <div class="col-sm-4"></div>
                <button class="btn btn-primary col-sm-4 col-form-label" type="submit" id="post-btn">
                    Post!
                </button>
                <div class="col-sm-4"></div>
			</div>
		    <br>
			<div class="row">
                <div class="col-sm-4"></div>
				<button class="btn btn-primary col-sm-4  col-form-label" id="close-create-post-modal-btn" type="button">
				  <i class="fa fa-times" aria-hidden="true">close</i>
				</button>
				<div class="col-sm-4"></div>
			</div>
		</form>
	</section>
	
	<section id="view-post">
	    <div class="row">
	        <div class="col-sm-12 text-center">
	            <img src="/etc/clientlibs/aem-pwa-blog/images/aem-logo-6.3.png" class="img-fluid" alt="Responsive image">
	        </div>
	    </div>
		     
	    <div class="row">
	        <div class="col-sm-3"></div>
	        <h5 class="col-sm-6 text-center">Share your Moments</h5>
	        <div class="col-sm-3"></div>
	    </div> 
	    
		<div class="row">
		   <div class="col-sm-2"></div>
			<div class="col-sm-8" id="shared-moments">
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
	            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
			</div>
			<div class="col-sm-2"></div>
		</div>
		
		<div class="row">
	        <div class="col-sm-5"></div>
			<button class="btn btn-primary col-sm-2 col-form-label" id="share-image-button">
			    <i class="fa fa-camera-retro fa-2x" id="confirmation-toast" aria-hidden="true"></i>
			</button>
			<div class="col-sm-5"></div>
		</div>
	</section>
</div>
