<div id="aem-pwa-blog__createPost" class="container" >
    <section class="row">
        <video id="player" autoplay></video>
        <canvas id="canvas" class="aem-pwa-blog__canvas" ></canvas>
        <button id="capture-btn" type="button" class="btn btn-secondary btn-lg">Capture</button>
    </section>
    <section class="row">
        <form>
            <div class="form-group">
                <label for="formGroupTitle">Title</label>
                <input type="text" class="form-control" id="formGroupTitle" placeholder="Post title">
            </div>
            <div class="form-group">
                <label for="formGroupContent">Content</label>
                <input type="text" class="form-control" id="formGroupContent" placeholder="Another input">
            </div>
        </form>
    </section>

</div>
<!-- display an existing post based on the selector -->