.summit-emea-tl30__header {
    background: rgb(211,211,211);
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(146,152,154,1) 53%, rgba(112,160,161,1) 100%);
    padding-top: 1%;
    padding-bottom: 1%;
}
.summit-emea-tl30__headerSummitLogo {
    height: 35px;
    margin-top: 10% ;
}

.summit-emea-tl30__headerAdobeLogo {
    height: 95px;
}

.summit-emea-tl30__mainNavigation {

}
.summit-emea-tl30__headerMainTitle {
    color: #ffffff;
    margin-top: 2% ;
}

.summit-emea-tl30__mainNavigationItem {
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
    font-size: 1.8em;
}