<sly data-sly-resource="${'navigation' @ resourceType='aem-pwa-blog/components/content/navigation'}"></sly>

<section class="aem-pwa-blog__mainContainer">
    <div class="container ">
        <sly data-sly-resource="${'post' @ resourceType='aem-pwa-blog/components/content/post'}"></sly>
    </div> <!-- /container -->
</section>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

    <!-- Modal -->
    <div class="modal fade" id="confirmation-toast" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">AEM PWA Blog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Your Post was saved for syncing!
                </div>
            </div>
        </div>

<sly data-sly-resource="${'footer' @ resourceType='aem-pwa-blog/components/content/footer'}"></sly>