<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <video id="player" autoplay width="100%"></video>
    </div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <canvas id="canvas" width="320px" height="240px"></canvas>
    </div>
    <div class="col-sm-3"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-4"></div>
    <button class="btn btn-primary col-sm-4 col-form-label" id="capture-btn">
        <i class="fa fa-camera-retro fa-2x" aria-hidden="true">Capture</i>
    </button>
    <div class="col-sm-4"></div>
</div>
<br>