<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="form-group ">
            <video id="player" autoplay class="img-fluid" ></video>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mx-auto">
        <div class="form-group ">
            <canvas id="canvas" class="img-fluid"></canvas>
        </div>
    </div>
</div>
<div class="row">
    <div class="mx-auto">
        <button class="btn btn-warning btn-lg btn-block"  id="capture-btn">
            <span><i class="fa fa-camera-retro" aria-hidden="true"></i></span>
            <span>Capture</span>
        </button>
    </div>
</div>