<form>
    <div class="form-group row">
    	<div class="col-sm-3"></div>
        <div class="col-sm-3 mx-auto aem-pwa-blog__profilePicture" >
            <video id="player" autoplay="" style="display: block;"></video>
            <canvas id="canvas" width="320px" height="240px"></canvas>
            <button type="button" class="btn btn-info btn-lg"  id="capture-btn">Capture</button>
            <div id="pick-image">
                <h6>Pick an Image instead</h6>
                <input type="file" accept="image/*" id="image-picker">
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="firstName" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="firstName" placeholder="First name" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
    <div class="col-sm-3"></div>
       <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
       <div class="col-sm-3"></div>
       <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
       <div class="col-sm-3"></div>
       <label for="hobbies" class="col-sm-2 col-form-label">Hobbies</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="hobbies" placeholder="Hobbies" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-sm-3"></div>
		<button class="btn btn-secondary col-sm-2 col-form-label" type="reset">Cancel</button>
       <div class="col-sm-2"></div>
       <button class="btn btn-primary col-sm-2 col-form-label" type="submit">Submit</button>
       <div class="col-sm-3"></div>
    </div>
</form>