<form data-sly-use.profileModel="com.adobe.summit.emea.core.models.ProfileModel" id="formProfile" path="${currentPage.path}/jcr:content.create.html" action="" method="">
    <hr>
    <section class="row aem-pwa-blog__postTile">
        <h4 data-sly-test="!${profileModel.isAuthenticated}" class="mx-auto">Create My Profile </h4>
        <h4 data-sly-test="${profileModel.isAuthenticated}" class="mx-auto">My Profile </h4>
    </section>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="firstName" class="col-sm-2 col-form-label">First name</label>
        <div class="col-sm-4">
            <input data-sly-test="${!profileModel.isAuthenticated}" type="text" class="form-control" name="firstName" id="firstName" placeholder="First name" required>
            <input data-sly-test="${profileModel.isAuthenticated}" type="text" class="form-control" id="firstName" value="${profileModel.firstName}" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-4">
            <input data-sly-test="${!profileModel.isAuthenticated}" type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name" required>
            <input data-sly-test="${profileModel.isAuthenticated}" type="text" class="form-control" id="lastName" value="${profileModel.lastName}" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input data-sly-test="${!profileModel.isAuthenticated}" type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            <input data-sly-test="${profileModel.isAuthenticated}" type="email" class="form-control" id="email" value="${profileModel.email}" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div data-sly-test="${!profileModel.isAuthenticated}" class="form-group row">
        <div class="col-sm-3"></div>
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
            <input  type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <label for="hobbies" class="col-sm-2 col-form-label">Hobbies</label>
        <div class="col-sm-4">
            <input data-sly-test="${!profileModel.isAuthenticated}" type="text" class="form-control" name="hobbies" id="hobbies" placeholder="Hobbies" required>
            <input data-sly-test="${profileModel.isAuthenticated}" type="text" class="form-control" id="hobbies" placeholder="Hobbies" value="${profileModel.hobbies}" required>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <hr>
    <div class="form-group ">

        <br>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <button class="btn btn-success col-sm-4 col-form-label" type="submit" id="submit">
                    <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                    <span>Submit</span>
                </button>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <button class="btn btn-danger col-sm-4  col-form-label" id="close-create-post-modal-btn" type="reset">
                    <span><i class="fa fa-times" aria-hidden="true"></i></span>
                    <span>Cancel</span>
                </button>
            </div>

            <div class="col-sm-4"></div>
        </div>
    </div>
</form>