<div class="container">
	<div class="window">
		<div class="overlay">
		<div class="content">
			<form class="form-signin" action="login.html/j_security_check" method="post">
				<div class="welcome">Login</div>
				<div class="input-fields">
					<label for="j_username"><i class="fa fa-user" aria-hidden="true"></i></label>
					<input type="text" id="inputEmail" name="j_username" placeholder="Email" class="input-line full-width"></input>
					<label for="j_password"><i class="fa fa-lock" aria-hidden="true"></i></label>
					<input type="password" id="inputPassword" name="j_password" placeholder="Password" class="input-line full-width" required></input>
				</div>
				<br/>
				<br/>
				<div>
					<button type="submit" class="ghost-round full-width">Sign in</button>
				</div>
				<p class="login__signup"> Don't have an account? &nbsp;<a href="/content/aem-pwa-blog/en/create-profile.html">Sign up</a></p>
			</form>
		</div>
        </div>
	</div>
</div>