
<nav class="navbar navbar-toggleable-xs navbar-toggleable-sm navbar-inverse fixed-top aem-pwa-blog__navigation ">

	<!-- MOBILE DISPLAY -->
    <button class="navbar-toggler navbar-toggler-left shadow-none" type="button" data-toggle="collapse" data-target="#navbarsItems" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu aem-pwa-blog__navTogglerIcon"></span>
    </button>
    <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
        <img src="/content/dam/aem-pwa-blog/static/summit-logo-m.png" class="aem-pwa-blog__summitLogo">
    </a>

    <!-- DESKTOP DISPLAY -->
	<section class="container">
        <a class="navbar-brand  d-none d-sm-none d-md-block d-lg-block" href="#">
            <img src="/content/dam/aem-pwa-blog/static/summit-logo-m.png" class="aem-pwa-blog__summitLogo">
        </a>
        <br>
        <div class="collapse navbar-collapse" id="navbarsItems">
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item active">
                    <a class="nav-link aem-pwa-blog__navLink" href="#"><i class="fa fa-home" aria-hidden="true"></i>  Home <span class="sr-only">(current)</span></a>
                </li>

                <div class="aem-pwa-blog__separatorVertical"></div>

                <li class="nav-item">
                    <a class="nav-link aem-pwa-blog__navLink" href="#"><i class="fa fa-user" aria-hidden="true"></i>  Profile</a>
                </li>

                <div class="aem-pwa-blog__separatorVertical"></div>

                <li class="nav-item">
                    <a class="nav-link aem-pwa-blog__navLink" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Create a post</a>
                </li>

            </ul>
        </div>
	</section>
</nav>
