
<nav data-sly-use.pages="com.adobe.summit.emea.core.models.NavigationModel" class="navbar navbar-toggleable-xs navbar-toggleable-sm navbar-inverse fixed-top aem-pwa-blog__navigation ">

    <!-- MOBILE DISPLAY -->
    <button aria-pressed="false" class="navbar-toggler navbar-toggler-left shadow-none" type="button" data-toggle="collapse" data-target="#navbarsItems" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars aem-pwa-blog__navTogglerIcon"></span>
    </button>
    <a id="mobile-menu" class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="/content/aem-pwa-blog/home.html">
        <img src="/etc/clientlibs/aem-pwa-blog/logos/summit-logo.png" class="aem-pwa-blog__summitLogo">
    </a>

    <!-- DESKTOP DISPLAY -->
    <section class="container aem-pwa-blog__navLinkContainer">
        <a id="desktop-menu" class="navbar-brand  d-none d-sm-none d-md-block d-lg-block" href="/content/aem-pwa-blog/home.html">
            <img src="/etc/clientlibs/aem-pwa-blog/logos/summit-logo-m.png" class="aem-pwa-blog__summitLogo">
        </a>
        <br>
        <div class="collapse navbar-collapse" id="navbarsItems" >
            <ul class="navbar-nav ml-auto ">
                <sly data-sly-list="${pages.menuPages}">
                    <li class="nav-item">
                        <a class="nav-link aem-pwa-blog__navLink aem-pwa-blog__navLink--${item['jcr:content/jcr:title']}" href="${item.path}.html">
                            <span><i class="${item['jcr:content/icon']} aem-pwa-blog__navLinkIcon" aria-hidden="true"></i> </span>
                            <span>${item['jcr:content/jcr:title']}</span></a>
                    </li>
                </sly>
                <li class="nav-item">


                        <a class="btn btn-primary aem-pwa-blog__Notifications js-push-btn" aria-pressed="false">
                            <span><i class="fa fa-bell" aria-hidden="true"></i> </span>
                            <span>Enable notifications</span></a>
                        </a>
                    <sly data-sly-test="${pages.isAuthenticated}">
                        <a class="cq-cc-profile-not-anonymous logout-link btn btn-danger" href="/system/sling/logout?resource=/content/aem-pwa-blog/home.html">
                            Logout
                        </a>
                    </sly>
                </li>
            </ul>
        </div>
    </section>
</nav>
